# Object files
*.o
*.ko
*.obj
*.elf
*.hi
*.dyn_hi
*.dyn_o

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Sandbox
.cabal-sandbox
cabal.sandbox.config
dist

# Arduino Makefile
firmware/Arduino-Makefile

# Firmware binaries
firmware/HaskinoFirmware/build-*
firmware/HaskinoRuntime/build-*
firmware/EEPROMErase/build-*

# Mac Files
.DS_Store

# Editor temporary files
.*.swp

# Tempoarary Ignore
System/Hardware/Haskino/SamplePrograms/Rewrite/Example.hs
System/Hardware/Haskino/SamplePrograms/Rewrite/TwoButton
System/Hardware/Haskino/SamplePrograms/Rewrite/TwoButtonFunc
System/Hardware/Haskino/SamplePrograms/Rewrite/TwoButtonIf
System/Hardware/Haskino/SamplePrograms/Rewrite/TwoButtonIter
System/Hardware/Haskino/SamplePrograms/Rewrite/TwoButtonLess.hs
System/Hardware/Haskino/SamplePrograms/Rewrite/TwoButtonLet
System/Hardware/Haskino/SamplePrograms/Rewrite/TwoButtonRecur
System/Hardware/Haskino/ShallowDeepPlugin/RecurPass.hs.4-23.backup.hs
System/Hardware/Haskino/ShallowDeepPlugin/Utils.hs.backup
